
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: rgb(252, 248, 248);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.count_conatiner{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    margin: 200px auto;
    width: 400px;
    background-color:#f5f507dd ;
    border-radius: 10px;
    padding: 20px 30px;
    box-shadow: 10px 10px 250px #ebd913e1 ;
}
.btn{
    font-size: 100px;
    border: none;
    background-color: transparent;
    font-weight: bold;
    color: rgb(47, 50, 3) ;
}
.ctr_data{
    font-size: 100px;
    font-weight: bold;
}